@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.head {
  height: 100%;
}

.head__title {
  padding-top: 220px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head__title-left {
  font-size: 44px;
  padding-right: 380px;
  margin-bottom: 5px;
}

.head__title-right {
  font-size: 44px;
  padding-left: 420px;
}

.head__buttons {
  text-align: center;
  padding-top: 20px;
}

.head__buttons-btn {
  padding: 15px 50px;
  margin-left: 5px;
  width: 203px;
  height: 61.74px;
  background: rgba(105, 147, 194, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.head__buttons-btn:hover {
  opacity: 1;
}

.head__sociallink {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head__sociallink-item {
  margin-right: 5px;
}

.head__sociallink-item path {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.head__sociallink-item path:hover {
  fill: #6993C2;
}

.about {
  padding-top: 100px;
}

.about__title {
  position: relative;
  font-weight: bold;
  font-size: 44px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about__title::before {
  position: absolute;
  content: '';
  width: 219px;
  height: 2px;
  top: 51px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 40px 70px 40px;
}

.about__text {
  padding-left: 50px;
  width: 735px;
  height: 374px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  font-family: 'Padauk', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.04%, #EA9B97), to(rgba(255, 255, 255, 0))), #CCBDDC;
  background: linear-gradient(180deg, #EA9B97 31.04%, rgba(255, 255, 255, 0) 100%), #CCBDDC;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
